html, body {
    margin:0;
    padding: 0;
    font-family: Arial, 'Open Sans';
    background: #eee;
}

*{
    box-sizing: border-box;
}

main{
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-auto-flow: column;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: center;
    justify-content: start;
    justify-content: end;
    justify-content: space-evenly;

    min-height: 100vh;
    align-items: end;
    align-items: start;
    align-items: center;
 
    
}

main section{
    color: white;
    background: #4285F4;
    height: 100px;  
    width: 100px;


    border-radius: 50%;
    display: grid;
   /* justify-content: center;
    align-items: center;*/
    grid-auto-flow: column;

 place-items: center; /*istedenfor 
    justify-content: center;
    align-items: center; */
}

main section .circle{
    height: 1rem;
    width: 1rem;
    background: white;
    border-radius: 50%;
}