html, body {
    margin:0;
    padding: 0;
    font-family: Arial, 'Open Sans';
    background: #eee;
    background-color: orange;
}

*{
    box-sizing: border-box;
}

main{
    display: grid;
    gap: .2rem;
    justify-content:flex-start;
    padding: .2rem;

    grid-template-columns: repeat(auto-fit, minmax(300px,1fr) );

  


    height: 100vh;

}

div{
    background-color:white;
    font-size: 2rem;
    display: grid;
    place-items: center;
}